html {
	overflow-x: hidden;
}

:root {
	/*               COLOR PALETTE OPTIONS
		https://coolors.co/eb0009-0094ff-0a8754-004f2d-404e5c-0d1f22    
		https://coolors.co/eb0009-0094ff-172a3a-004346-09bc8a-e7ecef-f7b267    {CURRENT PALETTE} 9dd9d2(blueish?) d0ccd0(light gray) 218380(dark turquoise ish) f7b267(Orangeish)
		https://coolors.co/eb0009-0094ff-d9e5d6-eddea4-424b54-535b64
		https://coolors.co/eb0009-0094ff-102e4a-63a375-edc79b-fffffa
		https://coolors.co/eb0009-0094ff-32021f-4b2e39-6c596e-cbf7ed
		https://coolors.co/eb0009-0094ff-0b2027-cfd7c7-f6f1d1-ebebd3
		https://coolors.co/eb0009-0094ff-e7dfc6-e9f1f7-131b23-092327
		https://coolors.co/eb0009-0094ff-79745c-e6f8b2-cde77f-709176
		https://coolors.co/eb0009-0094ff-baabbd-4b3b40-9db17c-9cde9f
		https://coolors.co/eb0009-0094ff-2c2c54-acc3a6-f5d6ba-ffffff
	*/
	--colorPalette1: #eb0009; /* icon red(1): rgb(237,28,36), icon blue(2): rgb(0,148,255)*/
	--colorPalette2: #0094ff;
	--colorPalette3: #172a3a;
	--colorPalette4: #004346;
	--colorPalette5: #09bc8a;
	--colorPalette6: #e7ecef;
	--colorPalette7: #218380;
	
	/* HEIGHTS FOR MOBILE!!! */
	--headerBarHeightMobile: 15vw;
	--footerMinHeightMobile: var(--headerBarHeightMobile);
	--bodyMinHeightMobile: calc(100vh - var(--headerBarHeightMobile) - var(--footerMinHeightMobile));
	
	--headerOuterPaddingMobile: 15px;
	--mainFontSizeMobile: 12px;
	--headerColor: var(--colorPalette3);
	--headertxtColor: #3495eb;
	--nailColor: var(--colorPalette3);
	--burgerBackground: #ededed;
	--burgerBorderColor: var(--colorPalette3);
	--burgerActiveBorderColor: #eb0009;
	--burgerActiveBackgroundColor: #c6c6c6;
	--burgerBorderSize: 4px;
	--nailShape: polygon(100% 0%, 90% 0%, 90% 35%, 10% 35%, 0% 50%, 10% 65%, 90% 65%, 90% 100%, 100% 100%);
	--activePageSelectedColor: #808080;
	--footerBackground: #e6e6e6;
	--bodyBackground: var(--colorPalette6);
	--mobileNavTransitionTime: 0.5s;
	--mobileHamburgerXNailColor: rgb(0,148,255);
	--footerLinkColorNormal: #0000EE; /*Default = #0000EE*/
	--footerLinkColorVisited: #ff99ff; /*Default = #551A8B*/
	--footerLinkColorActive: #FF0000; /*Default = #FF0000*/
	--footerLinkColorHover: #009900; /* Default = none, tried #ffcc00 */
}

#App {
	position: absolute;
	top: 0px;left: 0px;
	min-height: 100vh;
	width: 100vw;
	text-align: center;
	background-color: var(--headerColor);
	overflow-x: hidden;
}

.headerBarWrapper {
	height: var(--headerBarHeightMobile);
	width: 100%;
	display: table;
	margin-top: 1vh;
	/*
	padding-bottom: 1vh;
	--------------------------------------------------------------------------------*/
}

.headerBar {
	height: var(--headerBarHeightMobile);
	display: table-row;
}

.headerImageArea {
	position: relative;
	margin: 0; padding: 0;
	top: 0; left: 0;
	height: var(--headerBarHeightMobile);
	width: var(--headerBarHeightMobile);
}

.headerArea {
	display: table-cell;
}

.header-logo {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0px;
	left: var(--headerOuterPaddingMobile);
	height: var(--headerBarHeightMobile);
	width: var(--headerBarHeightMobile);
}

.headerTitleArea {
	position: relative;
	/* font-size: 25.5vw;*/
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	height: var(--headerBarHeightMobile);
}

.TitleSVG {
	position: absolute;
	top: 10%;
	left: 10%;
	margin: 0;
	padding: 0;
	width: 80%;
	height: 80%;
}

.headerTabsArea {
	position: relative;
	right: var(--headerOuterPaddingMobile);
	margin: 0;
	padding: 0;
	width: var(--headerBarHeightMobile);
}

.hamburgerWrapper{
	position: absolute;
	margin: 0;
	padding: var(--burgerBorderSize);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	*/
}

.hamburgerOutline{
	position: relative;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
	background-color: none;
}

.burgerOutline{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--burgerBackground);
	border: var(--burgerBorderSize) solid var(--burgerBorderColor);
	border-radius: 15%;
}

input:active ~ .burgerOutline{
	background: var(--burgerActiveBackgroundColor);
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1; /* -----------------------------------------------NEEDS FIXING--------------------------- */
	-moz-box-shadow: inset 0px 0px 5px #c1c1c1; /* -----------------------------------------------NEEDS FIXING--------------------------- */
	box-shadow: inset 0px 0px 5px #c1c1c1; /* -----------------------------------------------NEEDS FIXING--------------------------- */
	outline: none;
}

input:checked ~ .burgerOutline{
	border-style: solid;	/* -------------------------------FIX ME TO PROPER SHADOWING----------------------------------------------------- */
	border-color: var(--colorPalette1);
}

.hamburgerWrapper > .nail {
	position: absolute;
	width: 70%;
	height: 20%;
	top: 40%;
	left: 15%;
	display: table;
}

.hamburgerWrapper > .nail {
	transition: transform var(--mobileNavTransitionTime) cubic-bezier(0.77,0.2,0.05,1.0),
		background var(--mobileNavTransitionTime) cubic-bezier(0.77,0.2,0.05,1.0),
		opacity var(--mobileNavTransitionTime) ease;
}

.hamburgerWrapper > .nail:nth-child(1){
	transform: translate(0,110%);
}

.hamburgerWrapper > .nail:nth-child(2){
	transform: rotate(180deg);
}

.hamburgerWrapper > .nail:nth-child(3){
	 transform: translate(0,-110%);
}

.hamburgerOutline input{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
	-webkit-touch-callout: none;
}

/* Nail Transforms for vertical X */
input:checked ~ .hamburgerWrapper > .nail:nth-child(1){transform: rotate(-45deg);}
input:checked ~ .hamburgerWrapper > .nail:nth-child(2){opacity: 0;}
input:checked ~ .hamburgerWrapper > .nail:nth-child(3){transform: rotate(-135deg);}

/* Nail Transforms for horizontal X */
/*
input:checked ~ .hamburgerWrapper > .nail:nth-child(1){transform: rotate(-45deg);}
input:checked ~ .hamburgerWrapper > .nail:nth-child(2){opacity: 0;}
input:checked ~ .hamburgerWrapper > .nail:nth-child(3){transform: rotate(45deg);}
*/

.nail {
	display: block;
	position: relative;
	top: 0; left:0;
	height: 100%;
	width: 100%;
	background-color: var(--nailColor);
	-webkit-clip-path: var(--nailShape);
    clip-path: var(--nailShape);
}

input:checked ~ .hamburgerWrapper > .nail{
	background-color: var(--colorPalette2);
	-webkit-clip-path: var(--nailShape);
    clip-path: var(--nailShape);
}

.navBar {
	position: fixed;
	top: var(--headerBarHeightMobile);
	left: 5vw;
	width: 90vw;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: var(--burgerBackground);
	border-radius: 3vmin;
	overflow-y: hidden;
	opacity: 0;
	border-radius: 5vmin;
	z-index: -1;
	transition: all var(--mobileNavTransitionTime) ease;
}


input:checked ~ .navBar {
	opacity: 1;
	z-index: 9;
	animation: mobileNavAnimation var(--mobileNavTransitionTime) ease 0s 1 none running;
}

.navBarSelectionArea {
	display: block;
	width: 100%;
	padding: 0;
	margin: 10px 0px; /* Top and Bottom margins are 10px */
}

.navItem {
	cursor: pointer;
	
}

.navActive {
	cursor: default;
	color: var(--activePageSelectedColor);
}

.navInner {
	position: relative;
	left: 20%;
	width: 60%;
	border-bottom: 1px solid var(--activePageSelectedColor);
	padding-bottom: 5px;
	margin: 0;
}

.navItem:last-child > .navInner{
	border: none;
}	

.BodyContainer {
	background-color: var(--bodyBackground);
	min-height: var(--bodyMinHeightMobile);
	/* padding-top: 5vh; -----------------------------------------------------------------------------------------------*/
}

.FooterContainer{
	position: -webkit-sticky;
	position: relative;
	bottom: 0;
	padding: 0;
	color: var(--colorPalette6);
	background-color: var(--colorPalette3);
	min-height: var(--footerMinHeightMobile);
}

.FooterContent {
	/* ---------------------------------------------------------------STYLE ME----------------------------------------------------------------------- */
}

.Footerlink {
	color: var(--colorPalette5);
	text-decoration: none;
}

.Footerlink:visited {
	color: var(--colorPalette5);
	text-decoration: none;
}

.Footerlink:active {
	color: var(--colorPalette2);
	text-decoration: underline;
}

.Footerlink:hover {
	color: var(--colorPalette7);
	text-decoration: underline;
}

.Footerlink:link, .FooterLink:visited, .FooterLink:hover, .FooterLink:active {
	/* font-family: monospace; */
	text-decoration: none;
	/* ---------------------------------------------------------------STYLE ME----------------------------------------------------------------------- */
}

#ReeceLink { color: var(--colorPalette5);
	text-decoration: none;
}

#ReeceLink:active { color: var(--colorPalette2);
	text-decoration: underline;
}

#ReeceLink:hover { color: var(--colorPalette7);
	text-decoration: underline;
}

/* ============================================================================================ */
/* ANIMATION KEYFRAMES */

/* Animation used when OPENING the hamburger menu on mobile*/
@keyframes mobileNavAnimation { 
	0% { z-index: -1; opacity: 0; }
	1% { z-index: 9; opacity:0; }
	100% { z-index: 9; opacity: 1; }
}

/* Media query for desktop site, since this is designed with mobile-first in mind */
@media (orientation: landscape){
	/*     ---------------------------------------------------------------------------------------------------------------------------------------------      */
}

/*-------------------------------------------------------------DEV STYLINGS ---------------------------------------------------------*/
.testSpacer {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: #ffcc66;
}